# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea
.DS_Store

# env vars for act tool
my.secrets

# dev db
taskdb.mv.db
taskdb.trace.db

Helpers.md

/node
/node_modules